<!DOCTYPE html>
<html>
    <head>
        <title>hobo</title>
    </head>
    <body>
        <header>
            <h1><a href="/">RIP</a></h1>
        </header>

        <article>
            <h2><a href="">Welcome to the NEA</a></h2>
            <p>Currently at work</p>
        </article>
        {% for post in posts %}
            <article>
                <time>published: {{ post.published_date }}</time>
                <h2><a href="">{{ post.title }}</a></h2>
                <p>{{ post.text|linebreaksbr }}</p>
            </article>
        {% endfor %}
    </body>
</html> 